<div class="bg-white font-sans flex flex-row w-full h-44  ">
  <div class=" w-full pl-10">
  <h1 class="  text-3xl  font-normal font-light h-20 p-10 ">Promoção para as Festas</h1>
  <p class=" text-sm  text-slate-500 h-20 p-10">Jogue mais, pague menos. Descubra agora ofertas incríveis nos melhores jogos.</p>
  </div>

  <div class="flex justify-center items-center w-72 ">
    <button class="text-white  bg-blue-700/90 text-opacity-95 text-xl font-medium rounded-full   w-28 h-12 pb-2 mr-10 mb-10 ">Poupe Já</button>
  </div>
</div>
