<div class="menu-principal__container" ><div class="menu-principal__topo"><img src="https://tse3.mm.bing.net/th?id=OIP.fi6wxAu1lvRPuTt3yigvJQHaEK&pid=Api&P=0&h=180" alt="" srcset="">
  </div>
  <div class="menu-principal__itens"><ul>
    <li><a href="#">Jogos</a></li>
    <li><a href="#">PS5</a></li>
    <li><a href="#">PS4</a></li>
    <li><a href="#">Serviços</a></li>
    <li><a href="#">Acessórios</a></li>
    <li><a href="#">Notícias</a></li>
    <li><a href="#">Loja</a></li>
    <li><a href="#">Suporte</a></li></ul>
    </div>
    <div class="flex flex-row justify-center items-center w-full  h-full pl-96 ml-24 ">
      <button class="text-white  bg-blue-700/90 text-opacity-95 text-xl font-medium rounded-full flex justify-center  items-center w-36 h-7 pb-1 ">Iniciar sessão</button>
      <button class=" border border-slate-400 justify-center  items-center flex text-lg w-40 h-8  ml-8 mb-2 ">Pesquisar<img src="https://tse2.mm.bing.net/th?id=OIP.xzPEY661ToNuT_i1huu5CwHaHa&pid=Api&P=0&h=180" alt="Pesquisar" class="h-4/6 pl-14  "></button>
    </div>
</div>

