<div class="home__container"><app-card gameCover="https://image.api.playstation.com/pr/bam-art/179/712/954ceda1-c86c-42cc-bd63-28d8e294252e.jpg?w=440&thumb=false"
  gameLabel="DIGITAL"
  gameType="Digital | PS4"
  gamePrice="250,00"></app-card>

<app-card gameCover="https://image.api.playstation.com/pr/bam-art/176/978/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.jpg?w=440&thumb=false"
gameLabel="EXCLUSIVO"></app-card>

<app-card gameCover="https://image.api.playstation.com/pr/bam-art/186/136/1f189d26-6651-4915-8881-d9480ca83ce4.jpg?w=440&thumb=false"
  gameLabel="NEW"
  gameType="Digital | PS5"
  gamePrice="350,00"></app-card>
  <app-card gameCover="https://image.api.playstation.com/pr/bam-art/174/047/8a28b094-4d8b-4854-a841-e54d59c6fdb0.jpg?w=440&thumb=false"
  gameLabel="DIGITAL"
  gameType="Digital | DISC | PS5"
  gamePrice="349,90">
</app-card>
<app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202405/2306/e940c07107a4cefbbedbbd53451e26f0dbf292dcfab6c307.png?w=440&thumb=false"
  gameLabel="HYPER"
  gameType="Digital"
  gamePrice="349,90">
</app-card>
<app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202101/2921/fWiBmwK5WnQa5XG3K4aWeMpt.png?w=230&thumb=false"
  gameLabel="NEW CLASSIC"
  gameType="Digital | PS4 | PS5"
  gamePrice="146,95">
</app-card>

</div>
