@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  border:0;
  box-sizing:  border-box;
}
body{
  background:rgb( 2,0,36);
  background: linear-gradient(90deg, rgb(225, 224, 224)0%,rgb(237, 236, 236)0%, rgb(255, 255, 255)100%);
}
