*{
  padding: 0;
  margin: 0;
  border:0;
  box-sizing:  border-box;
}
body{
  background:rgb( 2,0,36);
  background: linear-gradient(90deg, rgb(225, 224, 224)0%,rgb(219, 219, 219)0%, rgb(229, 229, 229)100%);
}
