<div class="plano-fundo__container">
  <div class="plano-fundo__void"></div>
  <div class="plano-fundo__logo-ofertas"><img src="https://image.api.playstation.com/pr/bam-art/194/387/2dcd972a-8290-4525-8dfb-bad7cfd03ed9.jpg?w=1920&thumb=false" alt="" srcset=""></div>

  <div class="plano-fundo__ofertas"><h1>Ofertas de Novembro</h1>
    <p>Jogue mais, pague menos. Descubra agora ofertas incríveis nos melhores jogos.</p>
    <button>emstext.SaveNow</button>
  </div>
  <div class=" bg-black flex justify-end items-center w-full fixed top-0 h-9"><img src="https://cdn.freebiesupply.com/images/large/2x/sony-logo-black-and-white.png" alt="sony" class="h-5 mr-2"></div>


</div>
